* {
  margin: 0;
  padding: 0;
}

.panelWrap {
  width: 1000px;
  height: 800px;
  margin: 0 auto;
  border: 1px solid #ededed;
  border-radius: 5px;
  .title {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ededed;
  }
  .citySelect {
    text-align: right;
    padding: 10px 20px;
    border-bottom: 1px solid #ededed;
  }
}
